@use 'variables' as *;
@use 'sass:math';
@use 'components/header';
@use 'components/footer';
@use 'components/hero-section';
@use 'components/about-us-section';
@use 'components/doctor-section';
@use 'components/information-section';
@use 'components/sliders';

@use 'components/benefits';
@use 'components/service-card';
@use 'components/doctor-card';
@use 'components/before-after';
@use 'components/contact-us-form';

@use 'components/conferences';

@use 'components/related-posts';
@use 'components/accordions';
@use 'components/drop-down';
@use 'components/svg-animation';



*{
    margin: 0;
    padding: 0;
    color: var(--second-color);
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}

.overflow-auto{
    overflow: auto;
}

a{
    text-decoration: none;
}

img{
    object-fit: cover;
    object-position: center;
    //aspect-ratio: 1;
    width: 100%;
}

.container{
    margin: auto;
    width: 100%;
    max-width: 1440px;
}
.container-s{
    margin: auto;
    width: 100%;
    max-width: 920px;
}


.titles-center{
    text-align: center;
    h1{
        font-weight: 600;
    }
}




.information-section {
    $content-padding: 64px;

    .content {
        padding-left: $content-padding;
        padding-right: $content-padding;


        &.padding-left {
            padding-left: $content-padding;

            &-plus {
                $content-padding: 150px;
                padding-left: $content-padding;
            }
        }

        &.padding-right {
            padding-right: $content-padding;

            &-plus {
                $content-padding: 150px;
                padding-right: $content-padding;
            }
        }

        &.padding-left-0 {
            $content-padding: 0;
            padding-left: $content-padding;
        }

        &.padding-right-0 {
            $content-padding: 0;
            padding-right: $content-padding;
        }
    }
}
@media (max-width: 1024px){

    .information-section {
        $content-padding: 20px;
        .content{
            padding-left: $content-padding;
            padding-right: $content-padding;

            &.padding-left{
                padding-left: $content-padding;

                &-plus {
                    padding-left: $content-padding;
                }
            }
            &.padding-right {
                padding-right: $content-padding;

                &-plus {
                    padding-right: $content-padding;
                }
            }
            &.padding-right-0 {
                .info-wrapper{
                    padding-right: $content-padding;
                }
            }
        }

    }
}


.sprite-svg-fill{
    fill:var(--second-color);
    flex-shrink: 0;
}
.sprite-svg-stroke{
    fill:none;
    stroke:var(--second-color);
}

.text-with-svg{
    display: flex;
    align-items: center;
    gap:8px;
}


.btn-240{
    background: var(--second-color);
    color: var(--prime-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    min-width: 240px;
    width: 240px;
    border-radius: 26px;

    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
@media (max-width: 500px) {
    .btn-240{
        width: 100%;
    }
}

// Определяем переменные для размеров и стилей
@mixin circle-button($size,$font-size,$font-weight) {
    background: var(--prime-color);
    color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $size;
    min-height: $size;
    width: $size;
    height: $size;
    border-radius: $size;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: 1.5em;
    text-wrap: balance;
    text-align: center;
    border:none;
}

// Круглая кнопка 120px
.btn-120-circle {
    @include circle-button(120px,13px,400);
}

// Круглая кнопка 160px
.btn-160-circle {
    @include circle-button(160px,16px,500);
}

.btn-transparent{
    border: 1px solid var(--prime-color);
    background: transparent;
}


.our-links{
    width: 80%;
    display: flex;
    justify-content: center;
    gap:12px;
    .our-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border: 1px solid var(--second-color);
        border-radius: 24px;
    }
}
@media (max-width: 500px) {
    .our-links {
        justify-content: space-evenly;
    }
}

@media (min-width: 769px) {
    .mobile {
        display: none!important;
    }
}
@media (max-width: 768px) {
    .desktop {
        display: none!important;
    }
}

