.conferences-wrapper{
    h2{
        font-weight: 600;
        font-size: 22px;
        line-height: 1.3em;
        border: none;
        padding: 0;
    }

    .conferences{
        $gap:20px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 0 $gap;

        .conference{
            width: calc(50% - $gap / 2);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap:16px;
            padding: 24px;
            border-top: 1px solid var(--support-color);

        }
    }
}

@media (max-width: 768px){
    .conferences-wrapper {
        .conferences {
            .conference {
                width: 100%;
            }
        }
    }
}