

.contact-us-form {
    width: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    overflow-x: clip;
    position: relative;

    &:has(input:invalid){
        button{
            background: #EBEDEF;
            color: var(--prime-color);
            right: -140px;
            pointer-events: none;
        }
    }
    button{
        cursor: pointer;
        position: absolute;
        z-index: 5;
        right: 0;
        transition: right 0.4s ease, background 0.4s ease;

    }

    .two-input-blocks{
        display: flex;
        align-items: center;
        width: 100%;
        gap:24px;
    }

    .this-input-block {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;

        label {
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5em;
        }

        input {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5em;
            padding: 11px 24px;
            width: 100%;
            border-radius: 25px;
            background: var(--prime-color);
            border: 1px solid #DFE0E1;
            outline: none;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0 30px var(--prime-color) inset !important;
                -webkit-text-fill-color: var(--second-color);
                caret-color: var(--second-color);
            }
        }
    }


}



@media (max-width:1440px) {
    .contact-us-form {
        button {
            position: static;
        }
    }
}


@media (max-width:768px) {

    .contact-us-form {
        width: 100%;
    }

}


