.doctor-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--support-color);
    border-radius: 20px;

    .card-image{
        border-radius: 20px 20px 0 0;
        width: 100%;
        aspect-ratio: 1 / 1.2;
        object-fit: cover;
        object-position: center;
    }
    .card-text{
        padding: 16px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    }
}


@media(max-width: 768px) {
    .service-card {
        .card-text {
            span {
                font-size: 14px;
            }
        }
    }
}