.hero-blog-section{
    background: transparent;
    min-height: 530px;
    .content{
        margin: auto 0;
    }

    .absolute-bottom{
        position: absolute;
        bottom: 0;
    }
}


@media (max-width: 768px){
    .hero-blog-section{
        max-height: 390px;
        min-height: auto;
    }
}