@use 'sass:math';
@use '../variables' as *;


.information-section{
    padding-top: 90px;
    padding-bottom: 90px;


    &.plus-vertical-padding{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    &.overflow-visible{
        overflow: visible;
    }

    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 48px;


    .section-title{
        font-weight: 300;
        font-size: 36px;
        line-height: 1.2em;
        text-wrap: pretty;
    }
    .section-text{
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .section-text, .section-text *{
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5em;
        text-wrap: pretty;

    }
}
.background-svg{
    max-width: min(1440px,100%);

    position: absolute;
    z-index: -1;
    width: 758px;
    top: -150px;
    left: 0;
    right: 0;
    aspect-ratio: 1;
    margin: auto;
    stroke-width: 10;
}
@media (max-width: 768px) {
    .background-svg{
        stroke-width: 30;
        top: calc(-270px / 2);
        width: 270px;
    }
}

h1{
    font-weight: 300;
    font-size: 36px;
    line-height: 1.2em;
    & span{
        font-weight: 600;
        font-size: 36px;
        line-height: 1.2em;
    }
}
@media (max-width: 1024px) {
    h1{
        font-size: 22px;
        & span{
            font-size: 22px;
        }
    }
}


h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5em;
    padding-left: 16px;
    border-left: 2px solid var(--second-color);
}

.doctors-row{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:24px;
    .the-doctor{
        display: flex;
        align-items: center;
        gap: 16px;

        img{
            width: 70px;
            height: 70px;
            border-radius: 100%;
        }

        .name{
            font-weight: 600;
            font-size: 20px;
            line-height: 1.2em;
        }
        .text{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5em;
        }
    }
}



.two-part-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:100px;
}
.row-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:32px;
}

.info-wrapper{
    display: flex;
    flex-direction: column;
    gap:56px;
    width: 100%;

    .info{
        text-wrap: pretty;
        display: flex;
        gap: 40px;
        flex-direction: column;
    }
}
.photo-wrapper{
    width: 100%;
    img{
        width: 100%;
    }
}

@media(max-width: 768px){
    .two-part-content{
        gap:48px;
    }
    .row-content{
        gap:24px;
    }
    .mobile-column{
        flex-direction: column;
        width: 100%;
    }
    .info-wrapper{
        gap:24px;
    }

    .information-section{
        padding-top: 56px;
        padding-bottom: 56px;
        gap: 32px;


        .section-title{
            font-size: 22px;
        }
        .section-text, .section-text *{
            font-size: 16px;
        }
    }

    .doctors-row{
        .the-doctor{
            .name{
                font-size: 16px;
            }
            .text{
                font-size: 14px;
            }
        }
    }

    .body-svg {
        display: none!important;
    }
}

@media(min-width: 769px){
    .top-part-section{
        .section-title{
            max-width: 60%;
        }
    }
}



//pill-area
.pill-place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 48px;
}
.pill-place-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
}

.pill-area {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 0 32px 32px 0;
    background: var(--prime-color);
    width: 100%;
    padding: 60px;
}




@media(max-width: 600px){
    .pill-area {
        .section-title{
            text-align: center;
        }
        .place-for-pill{
            flex-direction: column;
            gap: 24px;
        }
    }
}

