.related-posts{
    background: #EBEDEF;
    padding: 0!important;
    min-height: 64px;
    justify-content: center;
    .nav-links{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        a{
            display: flex;
            align-items: center;
            gap: 10px;

            .post-text {
                font-weight: 600;
                font-size: 20px;
                line-height: 1.2em;
            }

            &.prev-post{
                .sprite-svg-fill{
                    transform: rotate(180deg);
                }
            }
            &.next-post{

            }
        }
    }
}


@media (max-width: 500px){
    .related-posts {
        .nav-links {
            a {
                &.prev-post {
                    align-items: flex-start;
                    flex-direction: column;
                }

                &.next-post {
                    align-items: flex-end;
                    flex-direction: column-reverse;
                }
            }
        }
    }
}
